body, html {
  height: 100%;
}

.bg {
  background-image: url("http://drive.google.com/uc?export=view&id=1lyu2W9mYbJtlEY-6_wEN2KG_khoDTCkw");

  height: 50%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
