body, html {
  height: 100%;
}

.bg {
  background-image: url("http://drive.google.com/uc?export=view&id=1mDPoFSN-f7Fgolq0ayT3-aJBfaNM4Tvi");

  height: 100%;
  background-color: #000000;
  background-position: center;
  background-repeat: no-repeat;
}
